lxml
python-decouple
apache-airflow-providers-apache-spark
apache-airflow-providers-celery
certifi
charset-normalizer
idna
numpy
pandas
py4j
pyodbc
pyspark
python-dateutil
pytz
requests
six
toml
tzdata
urllib3